* {
  box-sizing: border-box;
}

html, body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901C1C;
  font-size: 36px;
  margin-right: 100px;
}

h2 {
  color: #D3573C;
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 0px;
}

h3 {
  color: #D3573C;
  font-size: 64px;
  margin: 5px 0px;
}

h4 {
  color: #901C1C;
  font-size: 24px;
  margin: 5px 0px;
}

p {
  color: black;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.infos {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 250px;
  bottom: 0;
  right: 3%;
  background-color: #DB8876;
  border-radius: 5px 5px 0px 0px;
  padding: 0px 10px;
  z-index: 5;
}
.infos__likes {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.infos__likes i {
  margin-left: 10px;
}

.dropdown-toggle,
.contact_button,
.photographer-header__contact-button {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.sort {
  display: flex;
  align-items: center;
  margin: 20px 100px;
}
.sort__button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.dropdown {
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}
.dropdown .dropdown-toggle {
  appearance: none;
  background: #901C1C;
  color: #fff;
  font-size: 20px;
  border: 0;
  padding: 0px 20px;
  width: 170px;
  height: 70px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}
.dropdown .dropdown-toggle::after {
  content: "";
  border-width: 6px;
  border-radius: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: inherit;
  position: absolute;
  right: 12px;
  top: calc(50% + 3px);
  transform: translateY(-50%);
}
.dropdown .dropdown-toggle.active::after {
  border-color: transparent;
  border-bottom-color: inherit;
  top: calc(50% - 3px);
}
.dropdown .dropdown-menu {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  background: #901C1C;
  color: white;
  font-size: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 320px;
  width: 170px;
  border-radius: 5px;
  z-index: 10;
  visibility: hidden;
  overflow: auto;
  max-height: 250px;
}
.dropdown .dropdown-menu[aria-expanded=true] {
  visibility: visible;
}
.dropdown .dropdown-menu > li {
  border-top: solid white 1px;
  display: block;
  align-items: center;
  padding: 15px 10px;
  margin: 0px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dropdown .dropdown-menu > li:hover {
  outline: none;
}

.heartsChanger {
  cursor: pointer;
}
.heartsChanger--heart {
  font-size: 24px;
}
.heartsChanger--heart.full {
  transform: scale(1);
  background: #901C1C;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: transparent;
  animation: heartsfilling 500ms ease;
}

@keyframes heartsfilling {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.photographer-section a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer-section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer-section img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 20rem;
  box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.35);
}
.photographer-section .location {
  color: #901C1C;
  font-size: 13px;
  line-height: 17px;
  margin: 3px 0px;
}
.photographer-section .tagline {
  font-size: 10px;
  line-height: 13px;
  margin: 3px 0px;
}
.photographer-section .price {
  color: #757575;
  font-size: 9px;
  line-height: 12px;
  margin: 3px 0px;
}

.photographer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  padding: 0px 50px;
}
.photographer-header__location {
  color: #901C1C;
  font-size: 24px;
  margin: 5px 0px;
}
.photographer-header__tagline {
  color: #525252;
  font-size: 18px;
}
.photographer-header__photo {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 20rem;
  box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.35);
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 100px;
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}
.portfolio img {
  width: 100%;
  height: 375px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: all 500ms ease;
}
.portfolio img:hover {
  transform: scale(1.02);
  -webkit-box-shadow: -1px 5px 11px -1px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 5px 11px -1px rgba(0, 0, 0, 0.2);
}
.portfolio video {
  width: 100%;
  height: 375px;
  object-fit: cover;
  border-radius: 5px;
}
.portfolio__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio__caption--likes {
  display: flex;
  align-items: center;
}
.portfolio__caption p {
  font-size: 24px;
  margin: 5px 0px;
  color: #901C1C;
}
.portfolio__caption i {
  margin-left: 10px;
  color: #901C1C;
}

.modal_bg {
  display: none;
  background-color: rgba(196, 196, 196, 0.4);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: 50px auto;
  -webkit-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.27);
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header img {
  cursor: pointer;
}
.modal header h2 {
  color: black;
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312E2E;
  font-size: 36px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  overflow: auto;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s;
}

.lightbox.fadeOut {
  opacity: 0;
}

.lightbox__next,
.lightbox__prev {
  border: none;
  background: url(../../assets/icons/arrow.svg) center center/16px 28px no-repeat;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0%;
  right: 0;
  margin-top: -14px;
  z-index: 11;
  text-indent: -9000px;
}

.lightbox__prev {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}

.lightbox__close {
  width: 30px;
  height: 30px;
  border: none;
  background: url(../../assets/icons/close.svg) center center/100% 100% no-repeat transparent;
  position: fixed;
  text-indent: -9000px;
  top: 20px;
  right: 20px;
  z-index: 12;
}

.lightbox button {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
  text-indent: -9000px;
}

.lightbox button:hover {
  opacity: 1;
}

.lightbox__container img,
.lightbox__container video {
  max-width: auto;
  height: 90vh;
  animation: lightboxIn 0.5s;
}

.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100vh;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
