// Stockage des variables

$shadow-photographer: 0px 5px 12px -4px rgba(0,0,0,0.35);
$shadow-contact: 0px 9px 15px -5px rgba(0,0,0,0.27);

$radius: 5px;
$radius-demi: 5px 5px 0px 0px;
$radius-full: 20rem;

$color-primary: #901C1C;
$color-secondary: #D3573C;
$color-tertiary: #DB8876;

$color-white: #fff;
$color-grey1: #525252;
$color-grey2: #757575;
$color-grey3: #FAFAFA;

$font-regular: 400;
$font-bold: 700;

$size: (
    smallest: 9px,
    smaller: 10px,
    small: 13px,
    regular: 18px,
    regular-plus: 20px,
    big: 24px,
    bigger: 36px,
    biggest: 64px
);
