.dropdown-toggle,
.contact_button,
.photographer-header__contact-button {
    font-size: map-get($size, regular-plus);
    font-weight: $font-bold;
    color: $color-white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: $color-primary;
    border-radius: $radius;
    cursor: pointer;
}