.infos {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 250px;
    bottom: 0;
    right: 3%;
    background-color: $color-tertiary;
    border-radius: $radius-demi;
    padding: 0px 10px;

    &__likes {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        i {
            margin-left: 10px;
        }
    }
}